body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 420px);
    grid-gap: 30px;
}

li {
    list-style-type: none;
}