#card {
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
    box-shadow: 0.2px 0.2px 10px 0.1px rgb(168, 168, 168);
}

#card img {
    max-width: 20em;
    border-radius: 5px;
    object-fit: contain;
    align-items: flex-start;
}

@media(max-width: 600px) {
    #card img {
        max-width: 100%
    }
}